*{
  margin: 0;
  padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap');

body{
  margin: 0;
  padding:0;
  font-family: 'Poppins', sans-serif;

}

.header-box{
  background: url(images/top-banner.png);
  background-repeat: no-repeat;
  /* background-size: cover; */
  height: 500px;
}
.name-highlight{
  color:#FFAF00;
  font-size: 35px;
}
.container h3{
  padding-top: 40px;
}
.container-wrapper{
  width: 1100px;
  margin:0 auto;
}
.padding-top{
  padding-top: 40px;
}
.container{
  width: 40%;
  float: left;
  margin-top: 40px;
}
.container img{
  width:100%;
}
.mr-right{
  margin-left: 150px;
}
.biodata{
  font-size: 16px;
  word-spacing: 2px;
  line-height: 28px;
  font-family: 'Poppins', sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: justify;
}
.button{
  padding:13px 40px;
  background: linear-gradient(to right, rgb(255, 0, 76), rgb(255, 136, 0));
  border: none;
  outline: none;
  font-size: 15px;
  border-radius: 5px;
  color:#ffffff;
  text-decoration: none;
  font-weight: 700;
  word-spacing: 5px;
}

.dream-area{
  background:url(images/dream-bg.png);
  background-position: right;
  background-repeat: no-repeat;
  height: 500px;
}

.top-title{
  margin-top: 70px;
}
.expre-area{
  background: url(images/exp-bg.png);
  background-repeat: no-repeat;
  height: 500px;
  margin-top: 200px;
}
.Experience-box{
  width:40%;
  float: left;
  border-left: 5px solid rgb(0, 119, 255);
  padding: 40px;
  margin-left: 50px;
  box-shadow: -9px 13px 32px 0px rgba(0, 0, 0, 0.616);
  -webkit-box-shadow: -9px 13px 32px 0px rgba(0, 0, 0, 0.616);
  -moz-box-shadow: -9px 13px 32px 0px rgba(0, 0, 0, 0.616);
  border-radius: 8px;
}
.fast-box{
  margin-left: -50px;
  border-left: 5px solid salmon;

}
.last-box{
  margin-left: 100px;
}